<div>
<h1 style="background-color: rgb(74, 200, 246); text-align: center;">Centro de salud Metaenlace</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 33%;">
<a routerLink="home" routerLinkActive="active-link" class="nav-link">Inicio</a>
<a routerLink="medico" routerLinkActive="active-link" class="nav-link">Médico</a>
<a routerLink="paciente" routerLinkActive="active-link" class="nav-link">Paciente</a>
<a routerLink="usuario" routerLinkActive="active-link" class="nav-link">Usuario</a>
<a routerLink="cita" routerLinkActive="active-link" class="nav-link">Citas</a>
<a routerLink="diagnostico" routerLinkActive="active-link" class="nav-link">Diagnosticos</a>

</nav>
</div>