<h1 style="text-align: center;">Usuarios</h1>

<br><br>

<div class="tabla">
    <table border="1" >
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td>{{ usuario?.id }}</td>
            <td>{{ usuario?.nombre }}</td>
            <td>{{ usuario?.apellidos }}</td>
            <td><button type="button" class="btn btn-success" (click)="editar(usuario)" >Editar</button>
            <button type="button" class="btn btn-danger" (click)="eliminar(usuario.id)">Eliminar</button> </td>
          </tr>
        </tbody>
      </table>
      
</div>

<br><br>

<div class="formularioRegistro">
  <h2>Crear usuario</h2>

  <form [formGroup]="usuarioForm" (ngSubmit)="guardar()">
      <div class="form-group">
          <label>Nombre </label>
          <br>
          <input type="text" formControlName="nombre" class="form-group">
      </div>
      <div class="form-group">
          <label>Apellidos </label>
          <br>
          <input type="text" formControlName="apellidos" class="form-group">
      </div>
      <div class="form-group">
          <label>Clave </label>
          <br>
          <input type="password" formControlName="clave" class="form-group">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="usuarioForm.invalid">Guardar</button>
  </form>
</div>