<h1 style="text-align: center;">Pacientes</h1>


<br>
<br>

<div class="tabla">
    <table border="1">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Número SS</th>
            <th>numTarjeta</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let paciente of pacientes">
            <td>{{ paciente?.id }}</td>
            <td>{{ paciente?.nombre }}</td>
            <td>{{ paciente?.apellidos }}</td>
            <td>{{ paciente?.nss }}</td>
            <td>{{ paciente?.numTarjeta }}</td>
            <td>{{ paciente?.telefono }}</td>
            <td>{{ paciente?.direccion }}</td>
            <td><button type="button" class="btn btn-success" (click)="editar(paciente)">Editar</button>
              <button type="button" class="btn btn-danger" (click)="eliminar(paciente.id)">Eliminar</button> </td>
          </tr>
        </tbody>
      </table>
      
</div>

<br><br>

<div class="formularioRegistro">
  <h2>Crear paciente</h2>

  <form [formGroup]="pacienteForm" (ngSubmit)="guardar()">
      <div class="form-group">
          <label>Nombre </label>
          <br>
          <input type="text" formControlName="nombre" class="form-group">
      </div>
      <div class="form-group">
          <label>Apellidos </label>
          <br>
          <input type="text" formControlName="apellidos" class="form-group">
      </div>
      <div class="form-group">
          <label>Clave </label>
          <br>
          <input type="password" formControlName="clave" class="form-group">
      </div>
      <div class="form-group">
          <label>Número de la Seguridad Social </label>
          <br>
          <input type="text" formControlName="nss" class="form-group">
      </div>
      <div class="form-group">
          <label>Número de la tarjeta de salud </label>
          <br>
          <input type="text" formControlName="numTarjeta" class="form-group">
      </div>
      <div class="form-group">
          <label>Número de teléfono </label>
          <br>
          <input type="text" formControlName="telefono" class="form-group">
      </div>
      <div class="form-group">
          <label>Dirección </label>
          <br>
          <input type="text" formControlName="direccion" class="form-group">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="pacienteForm.invalid">Guardar</button>
  </form>
</div>
